.card {
    width: 500px;
    height: fit-content;
    background-color: rgb(235, 144, 247);
    border: 3px solid black;
    border-radius: 20px;
    margin: 10px;
}

.box {
    width: 100px;
    height: 100px;
    background-color: black;
    border-radius: 50%;
}

img {
    height: 100px;
    width: 100px;
}

.text {
    font-family: monospace;
}

.main-color {
    color: red;
}

.title {
    font-size: 30px;
}